/*user*/
div.user-admin .btn-group > .btn {
  text-transform: none;
  background-color: white; }
  div.user-admin .btn-group > .btn.active {
    background-color: #00D0BD;
    color: white; }
div.user-admin .user-admin-filters .filter-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center; }
div.user-admin .user-admin-filters .row {
  height: 100%; }
div.user-admin .user-admin-filters .search-form {
  height: 48px;
  box-shadow: 2px 1px 8px #8888;
  margin: 0;
  display: flex;
  align-items: center;
  width: auto; }
  div.user-admin .user-admin-filters .search-form label {
    padding-top: 10px;
    padding-left: 10px; }
  div.user-admin .user-admin-filters .search-form input {
    width: unset; }
div.user-admin .user-admin-filters .v-select {
  height: 48px;
  width: auto; }
  div.user-admin .user-admin-filters .v-select .vs__selected-options {
    align-items: center; }
  div.user-admin .user-admin-filters .v-select .selected-tag {
    height: fit-content;
    font-size: 14px;
    margin-top: 0; }
  div.user-admin .user-admin-filters .v-select .dropdown-toggle {
    box-shadow: 2px 1px 8px #8888;
    border-bottom: unset;
    height: 100%;
    background-color: white; }
  div.user-admin .user-admin-filters .v-select.single .dropdown-toggle .clear {
    display: none; }
  div.user-admin .user-admin-filters .v-select.single .selected-tag:nth-child(3n+1) {
    background: unset;
    color: black; }
div.user-admin .user-admin-filters .col {
  flex-basis: auto;
  flex: 1;
  padding-left: 0px; }
div.user-admin .grid-view .user-item {
  height: 180px; }
  div.user-admin .grid-view .user-item .panel-head {
    padding-top: 15px !important;
    display: flex;
    justify-content: space-between; }
    div.user-admin .grid-view .user-item .panel-head .panel-header .role-btn {
      border-radius: 50%;
      background-color: #00D0BD;
      box-shadow: none;
      padding: 0;
      width: 42px;
      height: 42px;
      cursor: default; }
      div.user-admin .grid-view .user-item .panel-head .panel-header .role-btn .mdi {
        padding: 10px 7px;
        color: white;
        display: flex;
        justify-content: center; }
    div.user-admin .grid-view .user-item .panel-head .name a {
      font-size: 14px;
      color: black;
      text-decoration: none; }
    div.user-admin .grid-view .user-item .panel-head .name p {
      font-size: 12px; }
    div.user-admin .grid-view .user-item .panel-head span {
      margin-top: -35px;
      margin-left: 45px;
      display: block; }
    div.user-admin .grid-view .user-item .panel-head .date {
      margin-left: 45px;
      margin-bottom: 0px;
      padding-top: 7px;
      font-size: smaller; }
  div.user-admin .grid-view .user-item hr {
    margin: 0; }
  div.user-admin .grid-view .user-item .panel-meta .file-controls {
    margin-top: -60px; }
    div.user-admin .grid-view .user-item .panel-meta .file-controls .mdi {
      background-color: white !important;
      color: #FF0000 !important;
      padding: 0px !important;
      box-shadow: none !important; }
  div.user-admin .grid-view .user-item .panel-meta .form-row {
    justify-content: flex-end; }
  div.user-admin .grid-view .user-item .panel-actions .editor:nth-child(n) {
    background: #FFB70F; }
  div.user-admin .grid-view .user-item .panel-actions .admin:nth-child(n) {
    background: #00D0BD; }
  div.user-admin .grid-view .user-item .panel-actions .member:nth-child(n) {
    background: #5D92F4; }

/*# sourceMappingURL=user-admin.css.map */
